body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d1caca;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    font-size: 26px;
    margin-bottom: 30px;
    color: #333;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.calculadoraBasica, .calculadoraImc, .calculadoraCombustivel {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.calculadoraBasica:hover, .calculadoraImc:hover, .calculadoraCombustivel:hover {
    transform: scale(1.05);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}